      <%= render 'shared/error_messages', object: f.object %>

<div class="first-name">
	<%= f.label :first_name, "First Name*" %>
	<%= f.text_field :first_name %>
</div>

<div class="middle-initial">
	<%= f.label :middle_initial, "M.I." %>
	<%= f.text_field :middle_initial %>
</div>


<div class="last-name">
	<%= f.label :last_name, "Last Name*" %>
	<%= f.text_field :last_name %>
</div>

<%= f.label :address1, "Street Address*" %>
<%= f.text_field :address1 %>

<%= f.label :address2, "Apt/Suite/Floor" %>
<%= f.text_field :address2 %>


<div class="city">
	<%= f.label :city, "City*" %>
	<%= f.text_field :city %>
</div>

<div class="state-choice">
	<%= f.label :state, "State/Province*" %>
	<%= f.select :state, unsorted_grouped_options_for_select(us_states, nil, "---") %> 
</div>

<div class="zip">
	<%= f.label :zip, "Zip/Postal Code*" %>
	<%= f.text_field :zip %>
</div>

<div class="email">
	<%= f.label :email, "Email Address*" %>
	<%= f.text_field :email %>
</div>

<div class="email-confirmation">
	<%= f.label :email_confirmation, "Email Confirmation*" %>
	<%= f.text_field :email_confirmation %>
</div>

<div class="password">
<%= f.label :password, "Password*" %>
<%= f.password_field :password %>
</div>

<div class="password-confirmation">
<%= f.label :password_confirmation, "Confirm Password*" %>
<%= f.password_field :password_confirmation %>
</div>


