<%= provide(:title, 'Edit User') %>
<div class="edit-profile">
	<div class="title-line">
	 	<%= gravatar_for(@user,size: 100) %>
	 	<a href="http://gravatar.com/emails" target=_blank>change</a><h1>Update your profile</h1>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<%= form_for(@user) do |f| %>
		 	<%= render 'fields', f: f %>
		 	<%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
		 	<% end %>
		</div>
	</div>
</div>