<header>
	<div class="navbar">
		<div class="navbar-inner">
				<div class="topline">
						<span class="pull-left"> www.PoolsAndLeagues.com</span>
						<% if signed_in?  %>
								<li id="fat-menu" class="dropdown pull-right">
	              					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> <%= "Welcome, #{@user.first_name.upcase}" %> <b class="caret"></b></a>
	              					<ul class="dropdown-menu">
						                <li><%= link_to "Profile", current_user %></li>
						                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
						                <li class="divider"></li>
						                <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
	              					</ul>
	            				</li>
						<% else %>	
							<div class = "row pull-right">
								<%= render 'sessions/signinform' %>
							</div>					
						<% end  %>
				</div>
		</div>
	</div>
		
	</header>