<div class="navigation-bar">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
		    			<li><%= link_to "Home", root_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Football", football_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Baseball", baseball_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Basketball", basketball_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Hockey", hockey_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Reality TV", realitytv_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Award Shows", awardshows_path %></li>
		    			<li class="divider-vertical"></li>
		    			<li> <%= link_to "Trainwrecks", trainwrecks_path %></li>
		    			<li class="divider-vertical"></li>
		    		</ul>
				</div>
			</div>
		</div>